.container-fluid{
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/4038322/pexels-photo-4038322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    display: block;
    justify-content: center;
}

.text-box{
    display: flex;
    justify-content: center;
}

.header-text{
    text-align: center;
    color: #f4f4f4;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.form-box{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

label{
    color: #f4f4f4;
}

.btn-box{
    width: 100vw;
    display: flex;
    justify-content: center;
}